body
{
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}

/* Navbar Start */
.nav-link.show {
    color: white !important;
}

.nav-link.active,
.nav-link.show {
    color: white !important;
}

.dropdown-menu a
{
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
    color: white;
    background-color: black;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-nav .nav-item:hover ,
.nav-link:hover{
    background-color: #EB0A1E;
    color: #FFFFFF;
    border-radius: 5px;
}

.navbar-brand
{
    font-size: 30px;
    font-weight: 600;
    color: #EB0A1E;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand:hover
{
    color: #EB0A1E;
    text-decoration: none;
}
.navbar-brand span
{
    vertical-align: sub;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    padding-left: 5px;
}

.flag {
    border-left: 1px solid #58595B;
    padding-left: 10px;
    width: 40px;
    height: 30px;
}
/* Navbar End */

/* Video Carousel Start*/
.carousel-inner {
    width: 100%;
    max-width: 100%;
    height: 523px;
    margin: 0 auto;
}

.carousel-item {
    width: 100%;
    height: 100vh;
    position: relative;
}

.carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators li
{
    list-style: none;
    background-color: #EB0A1E !important;
    align-items: center;
    margin-left: 60%;
    width: max-content;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
    background-size: 30%, 30%;
}
/* Video Carousel End*/

/* Training Essentials Para Start */
.content-container {
    padding-top: 80px ;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.content-container h2 {
    color: black;
    font-weight: bolder;
    font-size: 3rem;
}

.content-container p
{
    color: #58595b;
    padding-top: 10px;
    font-weight: 500;
    text-align: center;
    margin: 0 20px;
}

.content-container.scrolled
{
    transform: translateY(-50px);
}
/* Training Essentials Para End */

/* Training Framework Start */
img
{
    max-width: 100%;
}

.framework-card
{
    position: absolute;
    height: 450px;
    width: 95%;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 10px 30px #58595B;
    margin-top: 50px;
}

.inner-part
{
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

.inner-part .img
{
    height: 260px;
    width: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
}

.img img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: 0.6s;
}

#slide1-button:checked ~ .inner-part .card-img-1,
#slide2-button:checked ~ .inner-part .card-img-2,
#slide3-button:checked ~ .inner-part .card-img-3,
#slide4-button:checked ~ .inner-part .card-img-4
{
    opacity: 1;
    transition-delay: 0.2s;
}

#slide1-button:checked ~ .inner-part .card-content-1,
#slide2-button:checked ~ .inner-part .card-content-2,
#slide3-button:checked ~ .inner-part .card-content-3,
#slide4-button:checked ~ .inner-part .card-content-4
{
    opacity: 1;
    margin-left: 0;
    z-index: 100;
    transition-delay: 0.3s;

}

.card-content .card-title
{
    font-size: 30px;
    font-weight: 700;
    color: #EB0A1E;
    margin-bottom: 20px;
}

.card-content
{
    padding: 0 20px 0 35px;
    width: 500px;
    margin-left: 50px;
    opacity: 0;
    transition: 0.6s;
    height: 300px;
}

.card-content button
{
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
    background: #FFFFFF;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 5px 20px #58595B;
    transition: 0.4s ease-in;
    position: absolute;
    margin-left: -240px;
    top: 100%;
}

.card-content button:focus
{
    outline: none !important;
    box-shadow: none !important;
    box-shadow: none !important;
    background-image: none !important;
    background-color: white !important;
    border: 1px solid #000000;
    color: #000000 !important;
}

.card-content button:hover
{
    box-shadow: none !important;
    background-image: none !important;
    background-color: white !important;
    border: 1px solid #000000 !important;
    color: #000000 !important;
}

.sliders
{
    position: absolute;
    bottom: 5px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
}

.sliders .slider
{
    position: relative;
    height: 10px;
    width: 50px;
    background: #aeafb1;
    border-radius: 5px;
    display: inline-flex;
    margin: 0;
    cursor: pointer;  
}

.sliders .slider:hover
{
    background: #cdcdcd;
}

.sliders .slider::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: #58595B;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.6s;
    transform-origin: left;
}

input
{
    display: none;
}

#slide1-button:checked ~ .sliders .slider-1::before,
#slide2-button:checked ~ .sliders .slider-2::before,
#slide3-button:checked ~ .sliders .slider-3::before,
#slide4-button:checked ~ .sliders .slider-4::before
{
    transform: scaleX(1);
    width: 100%;
}

#section-1 h2,
#section-1 h3,
#section-1-article-1,
#section-1-article-2,
#section-2 h2,
#section-2 h3
{
    opacity: 0;
}

#section-1 h2.animate__animated,
#section-1 h3.animate__animated,
#section-1-article-1.animate__animated,
#section-1-article-2.animate__animated,
#section-2 h2.animate__animated,
#section-2 h3.animate__animated
{
    opacity: 1;
}

#section-1 h2,
#section-2 h2
{
    font-size: 60px;
    color: #EB0A1E;
}

#section-1 h3,
#section-2 h3
{
    animation-delay: 0.1s;
    font-size: 30px;
    color: #58595B;
    font-weight: 600;
    margin-bottom: 40px;
}

#section-1-article-1
{
    animation-delay: 0.5s;
}

#section-1-article-2
{
    animation-delay: 0.6s;
}

@media screen and (max-width: 801px) 
{
    .inner-part
    {
        flex-direction: column;
    }    
    .framework-card
    {
        height: 650px;
        margin-top: 90px; 
    }
    .sliders
    {
        left: 50%;
    }
    .card-content
    {
        margin-left: 0;
        width: auto;
        margin-top: 1rem;
    }
    .card-text
    {
        text-align: left !important;

    }

    .card-content button
    {
        margin-left: 0;
        position: static;
    }

    #section-1
    {
        margin-top: 750px !important;
    }

    #section-1-article-1 p
    {
        margin-bottom: 30px !important;
    }

    #section-1-video1 iframe
    {
        width: 400px !important;
    }

    #section-1-article-2 p
    {
        margin-bottom: 30px !important;
    }

    #section-1-image2
    {
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 601px) {
    .framework-card
    {
        height: 700px;
    }
}

@media screen and (max-width: 576px) {
    /* styles for screens smaller than 576px */
    .hide_text
    {
        display: none;
    }
    
    .framework-card
    {
        height: 680px;
    }

    .card-content 
    {
      /* adjust the styles of the card content */
      margin-left: 0;
      width: auto;
      padding: 15px;
    }
    .card-title 
    {
      /* adjust the styles of the card title */
      font-size: 12px;
      margin-bottom: 10px;
    }
    .card-text 
    {
      /* adjust the styles of the card text */
      font-size: 16px;
      text-align: left;
    }
}

@media screen and (max-width: 449px){
   
    .sliders .slider
    {
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }

    #section-1-video1 iframe
    {
        width: 350px !important;
    }
}
/* Training Framework End */